@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');

:root{
  --dark: #282828;
  --pure-dark: #000;
  --white: #fff;
  --blue: #0078ff;
  --green: #00d09c;
}

*{
  scroll-behavior: smooth !important;
}
body {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  font-family: 'Hind', sans-serif;
  background-color: #f3f3f3;
  color: var(--dark);
}

header {
  width: 85%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0px;
}

h1 {
  color: #111;
  margin: 5px;
  padding: 0px;
}

.header {
  width: 100%;
  background-color: transparent;
}

.container {
  margin: 10px auto;
  max-width: 1200px;
  padding: 10px;
}

/* --- Hamburger Functionality --- */
div.menu-link {
  color: #111;
}

/* When screen is small, center content and animate transitions. */
nav[role=navigation] {
  clear: both;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  margin: 0px 0px 0px -50px;
}

/* Positioning when nav does appear in small screen mode */
nav[role=navigation].open {
  max-height: 15em;
  margin-bottom: 10px;
  margin-top: 50px;
}

/* When in small screen, center the list */
nav[role=navigation] ul {
  margin: 0 auto;
  padding: 0;
}

nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  color: #111;
  text-decoration: none;
  text-align: center;
}

div.menu-link {
  width: 30px;
  top: 100px;
  left: 120px;
  transition-duration: 0.5s;
}
div.menu-link .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 20px;
  background-color: #111;
}
div.menu-link .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #111;
  content: "";
  top: -10px;
}
div.menu-link .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #111;
  content: "";
  top: 10px;
}
div.menu-link.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
div.menu-link.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
div.menu-link.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
div.menu-link:hover {
  cursor: pointer;
}

.navbar-wrapper{
  width: 85%;
  margin: auto;
  padding: 20px 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-left{
  width: 40%
}
#navbar-brand{
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
.navbar-right{
  width: 50%;
}
.navbar-list-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.nav-item{
  padding: 5px 20px;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.nav-link:hover {
  color: var(--blue) !important;
}
.banner-wrapper{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.banner-left{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.content-wrapper{
  width: 100%;
}
.banner-left-content{
  font-size: 40px;
  font-weight: 600;
}
.banner-left-subcontent{
  font-size: 1.5em;
  font-weight: 500;
}
.banner-btn{
  padding: 10px 25px;
  color: var(--white);
  background-color: var(--green);
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: capitalize;
}
.banner-right{
  width: 50%;
}
.lottie-player-wrapper{
  width: 100%;
  margin: auto;
  object-fit: contain;
}

.quick-fact{
  width: 85%;
  margin: auto;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.section1, .section2, .section3, .section4{
  width: 85%;
  margin: 20px auto;
  scroll-behavior: smooth;
}
.section-header{
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0px;
}
.section1-content, .section2-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section1-left{
  width: 40%;
}
.section1-right{
  width: 60%;
}
.section2-left{
  width: 60%;
}
.section2-right{
  width: 40%;
}
.cards-wrapper{
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  5px 5px 11px #c7c7c7,
             -5px -5px 11px #ffffff;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
.cards-header{
  font-size: 1.4em;
  font-weight: 600;
  text-transform: capitalize;
}
.cards-body{
  font-size: 1em;
  font-weight: 400;
  width: 90%;
}
.contact-form{
  background-color: var(--white);
  box-shadow:  8px 8px 22px #d6d6d6,
             -8px -8px 22px #ffffff;
}
.banner-mobile-left-content{
    display: none;
}

@media all and (max-width: 440px){
  header{
    width: 90%;
    flex-wrap: wrap;
  }
  nav[role=navigation] ul {
    width: 100vw;
  }
  .banner-wrapper{
    flex-direction: column-reverse;
  }
  .banner-left{
    width: 100%;
  }
  .banner-right{
    width: 100%;
  }
  .banner-mobile-left-content{
    display: block;
    font-size: 40px;
    font-weight: 600;
  }
  .banner-left-content{
    display: none;
  }
  .banner-btn-wrapper{
    text-align: center;
  }
  .quick-fact{
    display: none;
  }
  .section1, .section2, .section3, .section4{
    margin: 50px auto;
  }
  .section-header{
    font-size: 1.5em;
  }
  .section1-content{
    flex-direction: column;
  }
  .section1-left, .section1-right{
    width: 100%;
  }
  .section2-content{
    flex-direction: column-reverse;
  }
  .section2-left, .section2-right{
    width: 100%;
  }
  #contact-left{
    display: none;
  }
}

@media screen and (min-width: 35em) {
  div.menu-link {
    display: none;
  }

  nav[role=navigation] {
    max-height: none;
    margin: 0px;
  }

  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
    text-align: right;
  }

  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }

  nav[role=navigation] li a {
    border: 0;
  }
}